/* shared style */
main> section{
margin-top: 70px;
}
.home-page{
    max-width: 1440px;
}
.display-flex{
    display: flex;
    
}
.text-primary{
    color: #3A3A3A;
}


/* navbar related styles  */

.navbar{
justify-content: space-between;
align-items: center;
margin: 0 auto;
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-links{
    list-style: none;
    
}
.nav-link{
    text-decoration: none;
    margin-right: 30px;
}
/* banner related styles */
.banner{
    gap: 130px;
}
.banner-tittle{
    font-size: 3.2rem;
    font-weight: 700;
}

.banner-content{
    max-width: 580px;
    
}

.banner-btn{
    color: white;
    background-color: #E02C6D;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
}
/* sponsors related styles */
.sponsors{
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    margin: 0 auto;
}
.our-sponsors{

}